<div class="jumbotron">
    <div class="container">
        <h6 class="display-3">
            Every tool you need to work with PDFs in one place
        </h6>
        <br>
        <p>
            Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.
        </p>
    </div>
</div>

<section class="container-fluid">
    <div class="row">
        <ng-container *ngFor="let item of listTools">
            <div class="dashboard-card col-xs-12 col-3 mb-3" *ngIf="item.isVisible == true">
                <a href="#" class="dashboard-card-item dashboard-card-{{item.color}} card border-0 shadow-lg"
                    [routerLink]="['upload']" [queryParams]="{ page: item.id }">
                    <div class="card-body d-flex align-items-end flex-column text-right">
                        <h4>{{item.title}}</h4>
                        <p class="w-75">
                            {{item.description}}
                        </p>
                        <fa-icon icon="{{item.icon}}"></fa-icon>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</section>