<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">
    PDF Converter
  </a>

  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-3 mr-auto"></ul>

    <div class="my-2 my-lg-0">
      <a href="javascript:void(0)" class="text-white">
        Iniciar sesión
      </a>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="#">
      Unir PDF
    </a>

    <a class="nav-link" href="#">
      Dividir PDF
    </a>

    <a class="nav-link" href="#">
      Comprimir PDF
    </a>

    <a class="nav-link" href="#">
      Conversor PDF
    </a>

    <a class="nav-link" href="#">
      Todas las Herramientas
    </a>
  </nav>
</div>


<div class="jumbotron">
  <div class="container">
    <h6 class="display-3">Herramientas online para amantes de los PDF</h6>
    <br>
    <p>
      Herramientas online y completamente gratuitas para unir PDF, separar PDF, comprimir PDF, convertir documentos
      Office a PDF, PDF a JPG y JPG a PDF.
    </p>
  </div>
</div>


<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item dashboard-card-warning--alt card border-0 shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Unir PDF</h4>
            <p class="w-75">
              Une PDFs y ponlos en el orden que prefieras. ¡Rápido y fácil!
            </p>
            <fa-icon icon="copy"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item dashboard-card-success card border-0 shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Dividir PDF</h4>
            <p class="w-75">Extrae una o varias páginas de tu PDF o convierte cada página del PDF en un archivo PDF
              independiente.</p>
            <fa-icon icon="expand-arrows-alt"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item dashboard-card-success--dark card border-0 shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Comprimir PDF</h4>
            <p class="w-75">Consigue que tu documento PDF pese menos y, al mismo tiempo, mantener la máxima calidad
              posible.</p>
            <fa-icon icon="file"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item dashboard-card-teal card border-0 shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Desbloquear PDF</h4>
            <p class="w-75">Quita la contraseña de los PDF y los desbloquea, así podrás usarlos para lo que quieras.</p>
            <fa-icon icon="lock-open"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-info--dark shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Proteger PDF</h4>
            <p class="w-75">Protege PDF con contraseña. Encripta archivos PDF para evitar accesos no autorizados.</p>
            <fa-icon icon="lock"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-danger shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Marca de Agua</h4>
            <p class="w-75">Elige una imagen o texto para insertarlo encima de un PDF. Elige posición, transparencia y
              tipografía.</p>
            <fa-icon icon="stamp"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-pink--dark shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Números de Página</h4>
            <p class="w-75">Añade números de página a un PDF. Escoge posición, dimensiones, formato y tipografía.</p>
            <fa-icon icon="sort-numeric-down"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-info shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>Office a PDF</h4>
            <p class="w-75">Con nuestras herramientas podrás convertir un sin fin de formatos de office a PDF.</p>
            <fa-icon icon="boxes"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-warning shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>JPG a PDF</h4>
            <p class="w-75">Convierte tus imágenes JPG a PDF. Ajusta la orientación y los márgenes.</p>
            <fa-icon icon="images"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-teal shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>PDF a JPG</h4>
            <p class="w-75">Extrae todas las imágenes que están dentro de un PDF o convierte cada página en una imagen JPG.</p>
            <fa-icon icon="file-pdf"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-blue--dark shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>HTML a PDF</h4>
            <p class="w-75">Convierte páginas web de HTML a PDF. Copia y pega la dirección de la página que quieres convertir a PDF.</p>
            <fa-icon icon="code"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-blue--dark shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>PDF a Word</h4>
            <p class="w-75">Convierte fácilmente tus archivos PDF a DOCX de WORD editables.</p>
            <fa-icon icon="file-word"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-orange shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>PDF a Powerpoint</h4>
            <p class="w-75">Convierte tus archivos PDF a presentaciones PPTX de POWERPOINT.</p>
            <fa-icon icon="file-powerpoint"></fa-icon>
          </div>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-3">
      <div class="dashboard-card mb-3">
        <a href="#" class="dashboard-card-item card border-0 dashboard-card-success shadow-lg">
          <div class="card-body d-flex align-items-end flex-column text-right">
            <h4>PDF a Excel</h4>
            <p class="w-75">Extrae directamente datos de PDF a Excel en pocos segundos.</p>
            <fa-icon icon="file-excel"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<app-footer></app-footer>